body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  color: #434455;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.page-header-top {
  border-bottom: 1px solid #e7e9fc;
}

.container.page-header-container {
  display: flex;
  justify-content: space-between;
}

.page-header {
  display: flex;
  align-items: center;
}

.header-menu,
.header-adress {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.header-menu li,
.header-adress li {
  padding: 24px 0;
}

.header-menu li:not(:last-child),
.header-adress li:first-child {
  margin-right: 40px;
}

.header-menu li a:last-child,
.header-adress li a:last-child {
  margin-right: 0;
}

.header-nav {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 24px 0;
}

.mainlogo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 76px;
}

.mainlogo-header-studio-part {
  color: #2e2f42;
}

.mainlogo-footer-studio-part {
  color: #f4f4fd;
}

.header-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-nav:hover,
.header-nav:focus {
  color: #404bbf;
}

.header-nav:active {
  text-decoration: underline;
}

.header-adress {
  font-style: normal;
}

.header-contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  font-style: normal;
}

.header-contacts:hover,
.header-contacts:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  text-decoration: none;
  font-style: normal;
}

.benefit-section {
  background: #2e2f42;
  padding: 188px 0 188px;
}

.benefit-title-headline {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.order-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.order-button:hover,
.order-button:focus {
  background: #404bbf;
}

.benefit-title-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefit-item-list {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

.benefit-item-list .benefit-item {
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
}

.benefit-item-list li:last-child {
  margin-right: 0;
}

.benefit-item-title {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.benefit-item-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}

.our-team-section {
  background-color: #f4f4fd;
}

.team-title,
.project-title {
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
}

.team-list li:last-child {
  margin-right: 0;
}

.team-member-card {
  padding: 32px 0;
}

.team-member {
  margin-right: 24px;
  width: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 #2e2f4214, 0 1px 1px 0 #2e2f4229,
    0 1px 6px 0 #2e2f4214;
}

.team-member-name,
.project-name {
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.team-member-job-title,
.project-desc {
  color: #434455;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-title {
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
}

.project-item {
  width: calc((100% - 48px) / 3);
  margin-bottom: 48px;
  /* border: 1px solid #000; */
}

.project-list li:not(:nth-child(3n)) {
  margin-right: 24px;
}

.project-list li:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.project-pic {
}

.project-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  /* margin-bottom: 8px; */
}

.project-name {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
}

.project-desc {
  text-align: left;
  padding-left: 16px;
  padding-right: 16px;
  margin-bottom: 0;
}

.page-footer-bottom {
  background: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  padding: 100px 0 100px;
}

.footer-text {
  display: flex;
  width: 264px;
  /* padding-top: 16px; */
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
